---
layout: default
---

<div class="home">
    <ul class="post-list">
    <!-- This loops through the paginated post -->
    {% assign journals = site.journalctl | sort: 'date' | reverse %}
    {% for post in journals %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <span class="post-meta">at {{ post.date | date: "%Y-%m-%d" }}</span>
      </li>
    {% endfor %}
  </ul>

  <!-- Pagination links -->
  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    <ul>
    <li>
    {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="previous">&laquo;</a>
    {% else %}
        <span class="previous">&laquo;</span>
    {% endif %}
    </li>

    {% for page in (1..paginator.total_pages) %}
    <li>
      {% if page == paginator.page %}
        <span class="page">{{ page }}</span>
      {% elsif page == 1 %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
      {% else %}
        <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
      {% endif %}
    </li>
    {% endfor %}

    <li>
    {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="next">&raquo;</a>
    {% else %}
        <span class="next ">&raquo;</span>
    {% endif %}
    </li>
  </div>
  {% endif %}
</div>
