<div id="gitmentcontainer"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<style>
  #gitmentcontainer {
    margin-top: 60px
  }
</style>
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
  var gitment = new Gitment({
    id: '{{ page.disqus_identifier}}',
    title: '{{ page.title }}',
    owner: 'qqbubygithubio',
    repo: 'qqbubygithubio',
    oauth: {
      client_id: '1b8268543bd306f6d237',
      client_secret: '4cc9a8e029a9c1687af13cc37a6b5ebc72b4227c',
    },
  });
  gitment.render('gitmentcontainer');
</script>
