/* Font-based Admonition and Inline Icons */

span.icon > .fa {
  cursor: default;
}

.admonitionblock {
  table, th, td {
    border: none;
  }
}

.admonitionblock td.icon {
  text-align: right;
  vertical-align: top;
  padding: 3px 5px;
  width: 20px;

  [class^="fa icon-"] {
    font-size: 1.0em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    cursor: default;
  }

  .icon-note:before {
    content: "\f05a";
    color: #19407c;
  }

  .icon-tip:before {
    content: "\f0eb";
    text-shadow: 1px 1px 2px rgba(155, 155, 0, 0.8);
    color: #111;
  }

  .icon-warning:before {
    content: "\f071";
    color: #bf6900;
  }

  .icon-caution:before {
    content: "\f06d";
    color: #bf3400;
  }

  .icon-important:before {
    content: "\f06a";
    color: #bf0000;
  }
}

/* Circled Callout Numbers */

.colist {
  table, th, td {
    border: none;
  }
}

.conum[data-value] {
  $radius-size: 1.5em;
  display: inline-block;
  color: #fff !important;
  background: rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 1em;
  border-radius: 1em;
  text-align: center;
  font-size: .75em;
  width: $radius-size;
  height: $radius-size;
  line-height: $radius-size;
  font-family: $base-font-family;
  font-style: normal;
  font-weight: bold;

  * {
    color: #fff !important;
  }

  + b {
    display: none;
  }

  &::after {
    content: attr(data-value);
  }
}

pre .conum[data-value] {
  position: relative;
  top: -.125em;
}

b.conum * {
  color: inherit !important;
}

.conum:not([data-value]):empty {
  display: none;
}
