/**
 * Site header
 */
.site-header {
    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 2.5rem;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    line-height: 2em;
    letter-spacing: -1px;
    margin-bottom: 0;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    line-height: 1.5em;
    background-color: rgba(0, 0, 0, 0.02);
    border-top: rgba(0, 0, 0, 0.08);
    border-bottom: rgba(0, 0, 0, 0.08);

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 2rem;
        }
    }
    
    ul {
        list-style: none;

        li {
            display: inline-block;
            width: 16%;
            text-align: center;
        }
       
        a {
            text-decoration: none;
            text-transform: capitalize;
            color: rgba(0, 0, 0, 0.5);
        }

        a:hover {
            text-decoration: underline;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        z-index: 1;
        top: 0.9rem;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 0.5rem;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 3.6rem;
            height: 2.6rem;
            line-height: 0;
            padding-top: 1rem;
            text-align: center;

            > svg {
                width: 1.8rem;
                height: 1.5rem;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 0.5rem;
        }

        .page-link {
            display: block;
            padding: 0.5rem 1rem;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 2rem;
        }
       
        ul li {
            display: block;
            padding: 0.5rem 1rem;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 1rem;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    font-size: .6em;
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
    text-align: center;

    .license {
        font-size: .8em;
    }
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: 0.5 * $spacing-unit;
    }

    h2 {
        margin-top: .75em;
        font-size: 2rem;
        line-height: 0;
        white-space: nowrap;
        @include media-query($on-laptop) {
            font-size: 1.6rem;
        }
    }

    .post-meta {
        font-size: 0.75em;
        color: $grey-color;
        display: block;
        margin-top: .75em;
        margin-bottom: 1.5em;
    }
}

.post-link {
    display: block;
}


/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title, .archive-title {
    font-size: 1.5em;
    font-weight: $base-font-weight;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 1.25em;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 2em;

        @include media-query($on-laptop) {
            font-size: 1.5em;
        }
    }

    h3 {
        font-size: 1.75em;

        @include media-query($on-laptop) {
            font-size: 1.25em;
        }
    }

    h4 {
        font-size: 1.5em;

        @include media-query($on-laptop) {
            font-size: 1.15em;
        }
    }

    hr {
        margin-bottom: $spacing-unit;
        border: 0;
        clear: both;
        height: 1px;
        background-color: #e7e7e7;
    }

    strong, .title {
        font-weight: 600;
        font-size: 1.05em;
    }

    em {
        font-size: 1.05em;
    }

    a {
        text-decoration: underline;
    }

    ul, ol {
        margin-left: 25px;
    }
}

.post-navigation {
    padding: 0;
    margin: 0;

    li {
        list-style: none;
    }

    li:first-child {
        float: left;
        text-align: left;
    }

    li:last-child {
        float: right;
        text-align: right;
    }
}

/**
 * Markdown TOC
 */

#markdown-toc {
    list-style-type: circle;
}

/**
 * archives
 */
.archive-header {
    margin-bottom: $spacing-unit;
}

/**
.archive-title {
font-size: 1.5em;
}
 */

.archive-content {
    .category {
        font-size: 1em;
        font-weight: 1.5 * $base-font-weight;
        /* font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif !important; */
        border-bottom: 1px solid #eee;
    }

    .post-list {
        list-style: disc;
        padding: 0 0 0 1.5em;
        li {
            margin: 0;
        }
    }

    .tags {
        li {
            display: inline-block;
            list-style: none;
            margin: 0 $spacing-unit;
        }
    }
}

/**
 * Pagination
 */
.pagination {
    ul {
        margin: 0 auto;
        padding: 1em 0;
    }

    li {
        display: inline-block;
        list-style: none;
        padding: 0.25em 0.5em;
        color: #4b4b4b;
    }

    li > a {
        text-decoration: none;
        font-size: .85em;
    }

    .page {
        font-style: italic;
        font-size: .9em;
        font-weight: 100;
    }
}

/**
 * text-decoration
 */
.line-through {
    text-decoration: line-through;
}

.underline {
    text-decoration: underline;
}

.overline {
    text-decoration: overline;
}

/*
 * image block
 */
.imageblock {
  .title {
    font-weight: $base-font-weight;
    font-size: 0.75em;
  }
}
